.jspsych-content {
  width: 95%;
}

#jspsych-html-image-response-stimulus {
  font-size: 24px;
}

#jspsych-html-slider-response-wrapper {
  width: 60%;
  margin: 100px auto;
}

.jspsych-html-image-response-button .jspsych-btn {
  margin: 0 10px;

  img {
    max-width: 350px;
    margin: 0 auto;
  }
}
